@model ProyectoFinal_Cartagena_Zumarraga.Models.Arte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Arte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuntoArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuntoArt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuerpoArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuerpoArt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaArt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
